.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  font-size: 40px;
}

table {
  border-spacing: 0px;
  margin: 30px;
}

.table-header-row {
  background-color: black;
  font-size: 20px;
}

.table-header {
  font-size: 20px;
  padding: 10px 20px;
  border: 1px solid white;
}

.top-left {
  border-radius: 10px 0px 0px 0px;
}

.top-right {
  border-radius: 0px 10px 0px 0px;
}

.table-row {
  background-color: #FFFFFF29;
  border: 1px solid white;
  padding: 5px 10px;
}